# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
.vs/Aoc/v16/.suo
*.json
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.log
.vs/Aoc/v17/.suo
*.recipe
*.ilk
*.lastbuildstate
*.tlog
*.txt
*.idb
